EMAIL_PASSWORD=jsda vdsm tefc sasf
DATABASE_URL=postgresql://postgres:password@localhost:5432/accord_services
DB_SSLMODE=require
DEBUG=False
RESEND_API_KEY=re_SSfdqwfw7213jWSd_28281sasadS
SECRET_KEY=your_secret_key_here